.cover-modal {
  display: block;
  width: 100%;
  height: 100%;;
}
.header-modal-mobile {
  background: #a73b3b;
  height: 40px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

}
.header-modal-mobile p {
  color: #fff;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
.xclose {
  position: absolute;
  top: 0;
  left: 20px;
  color: #fff;
  top: 11px;
}
.container-body {
  display: block;
  width: 100%;
  overflow: auto;
  background: #fff;
}
.section-body {
  display: block;
  width: 100%;
  position: relative;

}
.header-body {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  background:#ddd;
  margin-bottom: 10px;
}
.header-body  p {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding-left: 20px;
  color: #333;
  margin-bottom: 0;
}
.section-body .search-icon {
  top:11px;
}
.section-body .search-item {
  top:37px;
}

.section-body .lds-ellipsis div {
  background:#a73b3b;
}




/* custom round checkbox; */
.round {
  position: relative;
  height: 28px;
  margin-bottom: 10px;
}
.round span {
  padding-left: 16px;
  color: dimgrey;
  font-size: 14px;
  font-weight: 500;
}
.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.round label:after {
  border: 2px solid #fff;
  content: "";
  height: 20px;
  left: 1px;
  opacity: 0;
  position: absolute;
  top: 1px;
  width: 20px;
  border-radius: 50%;
}

.round input[type="checkbox"] {
  visibility: hidden;
}
.round input[type="radio"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #a73b3b;
  border-color: #a73b3b;
}
.round input[type="radio"]:checked + label {
  background-color: #a73b3b;
  border-color: #a73b3b;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.round input[type="radio"]:checked + label:after {
  opacity: 1;
}
.fix-footer {
  background: #fff;
  display: block;
  width: 100%;
  border-top: 2px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fix-footer span {
  float: left;
}
.fix-footer i {
  float: right;
}
.price-footer {
  display: block;
  overflow: hidden;
  margin-bottom: 5px;
}
.fix-footer .btn {
  display: block;
  width: 100%;
  background: #a73b3b;

}




/* switf */

.onoffswitch2 {
    position: relative; width: 59px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch2-checkbox {
    display: none;
}
.onoffswitch2-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #E3E3E3; border-radius: 20px;
}
.onoffswitch2-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch2-inner:before, .onoffswitch2-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch2-inner:before {
    content: "";
    padding-left: 5px;
    background-color: #A73B3B; color: #FFFFFF;
}
.onoffswitch2-inner:after {
    content: "";
    padding-right: 5px;
    background-color: #FFFFFF; color: #666666;
    text-align: right;
}
.onoffswitch2-switch {
    display: block; width: 23px; height: 23px;margin: -1.5px;
    background: #FFFFFF;
    position: absolute; top: 2px; bottom: 0;
    right: 35px;
    border: 2px solid #E3E3E3; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
    margin-left: 0;
}
.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
    right: 0px;
}
.cover-swift {
  float: right;
  margin-right: 2px;
}
.form-swift {
  overflow: hidden;
}
.form-swift > span {
  float: left;
  margin-top: 2px;
}
.note-batter {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: khaki;
  padding: 10px;
  margin-bottom: 10px;
}
